<div ng-hide="showForm">
  <h1>Edit Meeting</h1>

  <form class="form-horizontal" ng-submit="updateMeeting()">
    <input type="hidden" ng-model="editMeeting._id" value="{!{_id}}">
    <div class="form-group">
      <label class="col-md-3 control-label">Title</label>
      <div class="col-md-9">
        <input type="text" class="form-control" ng-model="editMeeting.title" value="{!{title}}" placeholder="What will you be doing?" >
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">From</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="editMeetingFrom" ng-model="editMeeting.from" value="{!{from}}" placeholder="There is a conflict with angular picking up datepicker values">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">To</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="editMeetingTo" ng-model="editMeeting.to" value="{!{to}}" placeholder="After picking a datetime, add and delete a character">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Location</label>
      <div class="col-md-9">
        <input type="text" class="form-control" ng-model="editMeeting.location" value="{!{location}}" placeholder="Where will it be?">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Description</label>
      <div class="col-md-9">
        <input type="text" class="form-control" ng-model="editMeeting.description" value="{!{description}}" placeholder="Any important details?">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Participants</label>
      <div class="col-md-9">
        <input type="text" class="form-control" ng-model="editMeeting.participants" value="{!{participants}}" placeholder="Use commas to separate participants">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <button class="btn">Submit</button>
      </div>
    </div>
  </form>
</div>