<div ng-scope="getMeetings">
  <h1>Meetings list</h1>

  <ul class="list-group">
    <a ng-repeat="meeting in meetingsList" ng-click="getMeeting(meeting._id)">
      <li class="list-group-item">
        <h3>{!{meeting.title}}</h3>
        <p class="lead">{!{meeting.from}} &nbsp <strong>--</strong> &nbsp {!{meeting.to}}</p>
      </li>
    </a>
  </ul>
</div>
