<div ng-scope="getMeetings">
  <h1>Meetings list</h1>

  <ul>
    <a ng-repeat="meeting in meetingsList" ng-click="getMeeting(meeting._id)">
      <li><p>{!{meeting.title}} -- from: {!{meeting.from}} to: {!{meeting.to}}</p></li>
    </a>
  </ul>
</div>
