<h1>Add Meeting to Calender</h1>

<input type="text" ng-model="meeting.title" placeholder="title" >
<input type="text" ng-model="meeting.from" placeholder="from">
<input type="text" ng-model="meeting.to"placeholder="to">
<input type="text" ng-model="meeting.location" placeholder="location">
<input type="text" ng-model="meeting.description" placeholder="description">
<input type="text" ng-model="meeting.participants" placeholder="participants">
<button ng-click="createMeeting()" type="submit">Submit</button>


