<div ng-scope="getMeeting">
  <div ng-repeat="meeting in showMeeting"> {{!-- this hack is embarassing --}}
    <h4>{!{meeting.title}}</h4>
    <p>from: {!{meeting.from}}</p>
    <p>to: {!{meeting.to}}</p>
    <p>location: {!{meeting.location}}</p>
    <p>description: {!{meeting.description}}</p>
    {!{meeting.participants}}

    <button ng-click="editMeeting(meeting._id)">edit</button>

    <button ng-click="deleteMeeting(meeting._id)" type="submit">delete</button>
  </div>
</div>