<div ng-scope="titleSearch">
  <form class="ui-widget">
    <input id="titleSearch" type="text" ng-model="titleSearch.title" placeholder="Search by title">
    <button ng-click="searchTitle(titleSearch.title)">Search</button>
  </form>
</div>