doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
<!DOCTYPE html>
<html>
<head>
  {{>head}}
</head>
<body>
  {{{ body }}}
</body>
</html>