<div ng-scope="titleSearch">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <button class="btn btn-primary" ng-click="getEvents()">Show all events</button>
    </div>
    <div class="col-md-9 col-xs-12">
      <form ng-submit="searchTitle()" class="ui-widget form-horizontal">
        <div class="form-group">
        <div class="col-md-10">
          <input class="form-control" id="titleSearch" type="text" ng-model="titleSearch.title" placeholder="Search by title">
        </div>
        <div class="col-md-2">
          <button class="btn">Search</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>