<div ng-init="initApp()" class="row">
  <div class="col-md-6">
    {{> meetings/show}}
    {{> meetings/index}}
  </div>
  <div class="col-md-6">
    {{> meetings/title_search}}
    {{> meetings/new}}
    {{> meetings/edit}}
  </div>
</div>