<div ng-init="initApp()" class="row">
  <div class="col-md-6">
    {{> events/show}}
    {{> events/index}}
  </div>
  <div class="col-md-6">
    {{> events/title_search}}
    {{> events/new}}
    {{> events/edit}}
  </div>
</div>